<br /><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New Web Project</title>
		<link type="text/css" rel="stylesheet" href="/site_media/Style/style.css"></link>
		<script type="text/javascript" src="/site_media/Scripts/jquery.js"></script>
		<script type="text/javascript" src="/site_media/Scripts/Effects.js"></script>
		<script type="text/javascript">
			function load()
			{
				var effect = new Effect();			
				effect.fade(".content");
				effect.slide(".menu li", 'a');
			}			
		</script>
    </head>
    <body onload="load()">
    	
		<div class="menu">
			
			<ul class="menu">
				<li><img src="/site_media/Images/py2nsis_big.png"/></li>
				<br/>
				<br/>								
				<li><a class="menu" href="/index" >Main</a></li>
				<li><a class="menu" href="/try_it" >Try</a></li>
				<li><a class="menu" href="/contact" >Contact</a></li>
			</ul>
		</div>
    	
		<div class="content">
		{% block content %}
	        
			<h1 class="title"> Welcome to py2Nsis </h1>				
			
			<div class="text">
				<br/>
				<br/>
				<p>Py2Nsis is a Simple to Use, Nsis installers generator for Python projects. It also make the setup.py for py2exe.</p>
				<br/>					
				<p><a href="http://nsis.sourceforge.net/Main_Page">Nsis</a> is a professional open source system to create Windows installers.<br></p>
				<p><a href="http://www.py2exe.org/">py2exe</a> is a Python Distutils extension which converts Python scripts into executable Windows programs, able to run without requiring a Python installation.</p>
				<br/>
				<p>Py2Nsis combines the capabilities of these ones and generates directly a Windows installer with just a few information about your Python code!</p>
			</div>
			
		{% endblock %}
		</div>
		
    </body>
</html>
